form {
    width: 100% !important;
}

.chat-container {
    max-width: 100% !important;
    overflow-x: hidden !important;
    /* 横スクロールを非表示に */
}

/* 吹き出しスタイル */
.message-bubble {
    padding: 10px 15px;
    border-radius: 20px;
    margin-bottom: 10px;
    display: inline-block;
    max-width: calc(100% - 20px);
}

/* アシスタントのメッセージスタイル */
.assistant-message {
    background-color: #ecebf3;
    /* 背景色 */
    text-align: left;
    color: #3b3b3b;
    margin-right: 20%;
    /* 青枠を追加 */
}

/* ユーザーのメッセージスタイル */
.user-message {
    background-color: #f5d5d4;
    /* 背景色 */
    color: #3b3b3b;
    text-align: left;
    /* テキストを右寄せ */
    margin-left: 20%;
    /* 赤枠を追加 */
}

.assistant-name-container {
    text-align: center;
    /* テキストを中央揃えにする */
    /* その他のスタイル（必要に応じて） */
}

/* メッセージ入力フィールドのスタイル */
.message-input {
    position: relative;
    /* または static */
    display: flex;
    /* フレックスボックスにする */
    justify-content: center;
    /* 中央揃え */
    margin-bottom: 20px;
    /* フッターとの間隔 */
    padding: 5px;
    /* パディング調整 */
    width: calc(100% - 30px);
    /* 余白を考慮した幅 */
}

/* メッセージ表示エリアのスタイル */
.messages-display {
    overflow-y: auto;
    padding-bottom: 60px;
    /* メッセージ入力フィールドの高さに合わせて調整 */
    display: flex;
    /* フレックスボックスにする */
    flex-direction: column;
    /* 縦並びにする */
    max-height: 70vh;
}

.menu-icon {
    position: relative;
    top: 10px;
    right: 10px;
    font-size: 36px;
    cursor: pointer;
}

.message-icon {
    display: inline-block;
    vertical-align: top;
    margin-right: 10px;
}

.menu-content {
    position: fixed;
    /* 固定位置にする */
    top: 0;
    /* 画面の上部に配置 */
    left: 0;
    /* 画面の左端に配置 */
    width: 100%;
    /* 幅を画面幅に合わせる */
    background-color: white;
    /* 背景色 */
    padding: 20px;
    /* 内側の余白 */
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    /* 影をつける */
    z-index: 100;
    /* 他の要素より上に表示 */
}

.loading-animation {
    border: 4px solid #f3f3f3;
    /* Light grey */
    border-top: 4px solid #3498db;
    /* Blue */
    border-radius: 50%;
    width: 30px;
    height: 30px;
    animation: spin 2s linear infinite;
}

.chattitle {
    font-size: 1rem !important;
}

/* メッセージ入力エリアのスタイル調整 */
#questionInput {
    flex-grow: 1;
    /* フレックス項目としての成長率 */
    margin-right: 10px;
    /* ボタンとの間隔 */
}

/* 送信ボタンのスタイル調整 */
.send-button {
    flex-shrink: 0;
    /* 縮小させない */
}

.button-group {
    display: flex;
    /* フレックスボックスにする */
    justify-content: center;
    /* 中央揃え */
    gap: 20px;
    /* ボタン間の余白 */
    margin: 20px 0;
    /* 上下の余白 */
}

.model-info-container,
.model-info,
.created-at-info {
    text-align: center;
    /* テキストを中央揃えにする */
}

.pagination {
    display: flex;
    justify-content: center;
    margin-top: 15px;
}

.pagination button {
    margin: 0 5px;
    padding: 5px 10px;
    border: 1px solid #ccc;
    cursor: pointer;
    background-color: #f8f8f8;
}

.pagination button.active {
    background-color: #007bff;
    color: white;
}

.chat-item {
    padding: 2rem;
    border: 1px solid #ddd;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 100px; または必要に応じて調整 */
}

.chattitle {
    margin: 0;
}

.card-body-chatbot {
    text-align: center !important;
    /* テキストを中央揃えに */
    display: flex !important;
    /* Flexboxを使用 */
    flex-direction: column !important;
    /* 子要素を縦方向に並べる */
    justify-content: center !important;
    /* 子要素を中央揃えに */
    align-items: center !important;
    /* 子要素を中央揃えに */
    height: 100% !important;
    /* カードの高さを100%に設定 */
}

.chat-name {
    font-size: 1.25rem;
    /* フォントサイズを大きく */
    margin-bottom: 0.5rem;
    /* 下の余白 */
}

.btn {
    margin: 0 10px;
    /* ボタンの左右の余白 */
}

.text-shadow {
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
    /* 影の設定 */
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@media (max-width: 768px) {
    .container {
        width: 100%;
        padding: 0;
    }

    .menu-icon {
        position: fixed;
        top: 10px;
        right: 10px;
    }

    .message-input {
        position: fixed;
        bottom: 0;
        width: 100%;
        left: 0;
        z-index: 1000;
        /* キーボード表示時に上に表示されるように */
    }

    .messages-display {
        padding-bottom: 80px;
        /* キーボード表示時のスペース確保 */
    }

    /* その他のレスポンシブ対応スタイル */
    /* ... */
}

/* より小さい画面サイズに対応 */
@media (max-width: 480px) {

    /* スタイルの調整 */
    /* ... */
    .menu-icon,
    .message-icon {
        /* メニューアイコンとメッセージアイコンのサイズを小さく調整 */
        font-size: 20px;
    }

    .message-bubble {
        /* 吹き出しのサイズやパディングの調整 */
        padding: 8px 12px;
        font-size: 14px;
        /* テキストのサイズを少し小さく */
    }

    .message-input {
        /* メッセージ入力フィールドのスタイル調整 */
        padding: 5px;
        /* パディングを少し小さく */
    }

    .loading-animation {
        /* ローディングアニメーションのサイズ調整 */
        width: 25px;
        height: 25px;
    }
}