.input-container {
    display: flex; /* フレックスボックスにする */
    align-items: center; /* アイテムを中央揃えにする */
    justify-content: space-between; /* アイテム間に均等なスペースを配置 */
    padding: 10px; /* コンテナのパディング */
}

.attach-icon {
    margin-right: 10px!important; /* アイコンとテキストエリアの間隔 */
    cursor: pointer!important; /* カーソルをポインターにする */
}

#questionInput {
    flex-grow: 1; /* テキストエリアが利用可能なスペース全体を占めるようにする */
    border: none; /* ボーダーを消す */
    padding-left: 10px; /* 左側のパディング */
    margin-right: 10px; /* 数値入力フィールドとの間隔 */
}

#questionInput:focus {
    box-shadow: none; /* フォーカス時の影を消す */
    border-color: inherit; /* ボーダーカラーを継承 */
}

.num-images-input {
    width: 60px; /* 数値入力フィールドの幅 */
    margin-right: 10px; /* 送信ボタンとの間隔 */
}

.images-display {
    display: flex; /* フレックスボックスに変更 */
    flex-direction: column; /* 子要素を縦方向に並べる */
    align-items: center; /* 子要素を中央揃えにする */
    margin-top: 15px;
}

.images-display div {
    text-align: center; /* 中央揃え */
    margin-bottom: 20px; /* 画像ごとの下の余白 */
}

.images-display img {
    width: 100%; /* 画像の幅 */
    max-width: 300px; /* 画像の最大幅 */
    height: auto; /* 画像の高さを自動調整 */
    margin-bottom: 10px;
}

.images-display a {
    display: block;
    margin-bottom: 10px;/* ダウンロードリンクの下の余白 */
}

.send-button {
    padding: 5px 10px; /* 送信ボタンのパディング */
}

.images-display p {
    margin-top: 10px; /* revised_promptの上の余白 */
    margin-bottom: 20px; /* revised_promptの下の余白 */
}

.back-to-menu {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.error-message {
    color: red;
    margin: 10px 0;
    text-align: center;
}

.image-preview {
    margin-top: 20px;
    text-align: center;
}

.image-preview img {
    max-width: 100%;
    height: auto;
}