@charset "UTF-8";
@import url('https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&family=Poltawski+Nowy:ital@1&display=swap');

header {
    position: relative;
    height: 100vh;
}

.textarea {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(0, 0, 0);
}

header h1 {
    font-family: "Poltawski Nowy";
    text-shadow: 0 0 5px #333;
    letter-spacing: 6px;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    padding: 10px;
}

.image-area {
    position: fixed;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;
}

.image {
    position: absolute;
    z-index: -1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 177.77777778vh;
    height: 56.25vw;
    min-width: 100%;
    min-height: 100%;
}

main {
    background: white;
}

.button {
    background: rgb(141, 254, 139);
    color: rgb(18, 17, 22);
    border-radius: 10px;
    padding: 18px 32px;
    font-family: "M PLUS Rounded 1c";
    margin-top: 50%;
}

.button:hover {
    background: #377b3f;
}

main section {
    height: 600px;
    padding: 30px;
}

.splash-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

@keyframes logo-fade-in {
    0% {
        opacity: 0;
        transform: scale(0.1);
    }

    100% {
        opacity: 1;
        transform: scale(1);
    }
}

.splash-screen img {
    animation: logo-fade-in 2s ease-out;
    max-width: 30%;
}

.slow-animation {
    animation-duration: 2s !important;
    /* or any duration you want */
}

strong {
    display: block;
    margin-bottom: 10%;
    /* adjust this value as needed */
}

.textarea h1,
.textarea strong,
.textarea p {
    opacity: 0;
    transform: translateY(30px);
    animation: item-fade-in 1s forwards;
    animation-delay: 1s;
}

@keyframes item-fade-in {
    0% {
        opacity: 0;
        transform: translateY(30px);
    }

    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}