@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&family=Poltawski+Nowy:ital@1&display=swap');

.font-japanese {
    font-family: "M PLUS Rounded 1c";
}

@keyframes walkingCat {
    0% { 
        transform: translateX(0) scaleX(1); /* 左端で正の向き */
    }
    50% { 
        transform: translateX(calc(100vw - 100%)); /* 右端に移動するがまだ反転しない */
    }
    50.001% { 
        transform: translateX(calc(100vw - 100%)) scaleX(-1); /* 右端で反転 */
    }
    100% { 
        transform: translateX(0) scaleX(-1); /* 左端に戻りつつ反転した状態を保持 */
    }
}

.cat-animation {
    position: absolute;
    bottom: 10px;
    left: 0;
}

.cat-animation-moving {
    animation: walkingCat 30s linear infinite;
}

.cat-animation-stationary {
    animation: none; /* アニメーションなし */
}

/* 必要に応じて猫の画像サイズを調整 */
.cat-image {
    width: 50px;
    height: auto;
}