@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&family=Poltawski+Nowy:ital@1&display=swap');

.font-japanese {
    font-family: "M PLUS Rounded 1c";
}

@keyframes walkingCat {
    0%, 100% { 
        transform: translateX(0) scaleX(1); /* 最初と最後は元の位置と向き */
    }
    49.999%, 50% { 
        transform: translateX(calc(100vw - 100%)) scaleX(-1); /* 反転の瞬間 */
    }
    50.001%, 100% { 
        transform: translateX(0) scaleX(-1); /* 反転した状態で戻る */
    }
}

.cat-animation {
    position: fixed;
    bottom: 10px;
    left: 0;
    animation: walkingCat 30s linear infinite;
}

/* 必要に応じて猫の画像サイズを調整 */
.cat-image {
    width: 50px;
    height: auto;
}