@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&family=Poltawski+Nowy:ital@1&display=swap');

.font-japanese {
    font-family: "M PLUS Rounded 1c";
}

@keyframes walkingCat {
    0%, 100% { 
        transform: translateX(0) scaleX(1); /* 最初と最後は元の位置にいて、反転していない */
    }
    49% { 
        transform: translateX(calc(100vw - 100%)) scaleX(1); /* 右端に到達する直前までは反転せずに移動 */
    }
    50% { 
        transform: translateX(calc(100vw - 100%)) scaleX(-1); /* 右端で反転する */
    }
    99% {
        transform: translateX(0) scaleX(-1); /* 左端に戻る途中は反転したまま */
    }
}

.cat-animation {
    position: fixed; /* 画面に対して固定 */
    bottom: 10px; /* フッターの高さに合わせる */
    left: 0; /* 左端からスタート */
    animation: walkingCat 30s linear infinite; /* アニメーション時間を調整して歩行の速さを変更する */
}

/* 必要に応じて猫の画像サイズを調整 */
.cat-image {
    width: 50px; /* 画像のサイズは適宜調整 */
    height: auto;
}